

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-1">

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button"
              data-toggle="dropdown">Language<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/locale?lang=en">English</a></li>
        <li><a href="/locale?lang=fr">French</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">

    <app-offer></app-offer>
</div>
</div>

